<div class="container">
  <header>
    <h1>Funde Skatte</h1>
    <div class="actions">
      <span class="replay" (click)="onPlayAgain()"><img src="assets/replay-64.png" alt="" srcset=""></span>
    </div>
  </header>
  <ng-container *ngIf="(store.selectedRoute$ | async)?.treasures as treasures">
    <div class="treasures">
      <span *ngFor="let treasure of treasures; let i = index" [style.background-color]="colors[i]">{{treasure.properties.bogstav}}</span>
    </div>
  </ng-container>
</div>
