/* You can add global styles to this file, and also import other style files */
@import "~maplibre-gl/dist/maplibre-gl.css";
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Satisfy', cursive;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

// width
::-webkit-scrollbar {
  width: 12px;
}

// Track
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

// Handle
::-webkit-scrollbar-thumb {
  background: tomato;
  border-radius: 6px;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

// Map icon
.treasure-map-icon {
  display: block;
  border: none;
  padding: 0;
  background-image: url('assets/treasure_33.png');
  width: 33px;
  height: 33px;
}

.mapboxgl-ctrl-group button, .maplibregl-ctrl-group button {
  height: 56px;
  width: 56px;
}

.mapboxgl-ctrl-group, .maplibregl-ctrl-group {
  background-color: rgb(255 255 255 / 90%);
  border-radius: 50%;
}
